@use './dark-theme' as dark
@use './light-theme' as light
@use './my-eyes-theme' as my-eyes


@mixin theme($theme) 
  @if $theme == 'my-eyes' 
    @include my-eyes.color-mixin()
  
  @if $theme == 'light-mode' 
    @include light.color-mixin()
  
  @else 
    @include dark.color-mixin()
  


.dark-mode 
  @include dark.color-mixin()
  transition: all 0.4s ease


.light-mode 
  @include light.color-mixin()
  transition: all 0.4s ease


.my-eyes-mode 
  @include my-eyes.color-mixin()
  transition: all 0.4s ease

:root 
  .dark-mode 
    --background-1: #{dark.$background-1}
    --background-2: #{dark.$background-2}
    --border: #{dark.$border}
    --text-color: #{dark.$text-color}
    --icon-background: #{dark.$icon-background}
   
  .light-mode 
    --background-1: #{light.$background-1}
    --background-2: #{light.$background-2}
    --border: #{light.$border}
    --text-color: #{light.$text-color}
    --icon-background: #{light.$icon-background}
  
  .my-eyes-mode 
    --background-1: #{my-eyes.$background-1}
    --background-2: #{my-eyes.$background-2}
    --border: #{my-eyes.$border}
    --text-color: #{my-eyes.$text-color}
    --icon-background: #{my-eyes.$icon-background}
   
