
body
  margin: 0px
  transition: all 0.4s ease
  background-color: var(--dark-test)

.main
  font-family: "Rubik", sans-serif
  transition: all 0.4s ease
  background-color: var(--dark-test)
  

.container
  display: flex
  justify-content: center
  align-items: center
  height: 100vh