<router-outlet></router-outlet>
<div class="main-layout">

  <section class = "main-topbar">
    <section class = "main-topbar-profile">
      <div>
        {{username}}
      </div>
    </section>
    <section class = "main-topbar-playlist">
      
    </section>
    <section class = "main-topbar-search">
      
    </section>
  </section>

  <section class="main-left">

  </section>

  <section class="main-center">
    <app-desktop-soundpiece-list></app-desktop-soundpiece-list>
  </section>

</div>
